@import "tailwindcss";

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #F5F7FA;
  color: #111;
}

button {
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
  border: none;
  background: none;
  padding: 0;
}
